/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* GÄLLER FÖR SAMTLIGA SIDOR ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@200;300;600;900&display=swap");
:root {
    --grön: #80b850;
    --mörk-grön: #11270b;
    --gul: #f9dc5c;
    --blå: #42a1d1;
    --brun: #694a38;
}

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
}
/* @media screen and (max-width: 450px) {

} */

@media screen and (min-width: 992px) {
    .topdiv {
        font-weight: 600;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        box-shadow: rgb(47, 47, 47) 0px 5px 5px;
        font-size: 65px;
        text-align: center;
        line-height: 10vh;
        vertical-align: middle;
        background-color: var(--grön);
        z-index: 1;
    }
    .bot-flexbox {
        position: absolute;
        font-weight: 300;
        font-size: 24px;
        display: flex;
        justify-content: center;
        line-height: 10vh;
        width: 100vw;
        height: 10vh;
        background-color: var(--grön);
        top: 100vh;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HAMBURGARMENYN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    #menuToggle {
        display: block;
        position: fixed;
        top: calc((10vh - 60px) / 2);
        left: 5vw;
        z-index: 1;
        height: 70px;
        width: 70px;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: var(--gul);
    }

    #menuToggle input {
        color: var(--grön);
        width: 70px;
        height: 70px;
        position: fixed;
        top: calc((10vh - 70px) / 2);
        left: 5vw;
        cursor: pointer;
        opacity: 0;
        z-index: 5;
    }

    #menuToggle span {
        display: block;
        width: 55px;
        height: 10px;
        margin-bottom: 5px;
        margin-left: 7.5px;
        position: relative;
        background: #000000; /*hamburgarmenyn innan man clickar*/
        border-radius: 4px;
        z-index: 2;
        transform-origin: 0px 0px;
        transition: transform 0.4s cubic-bezier(0.8, 0.15, 0.05, 1);
    }

    #menuToggle span:nth-child(2) {
        transform-origin: 0% 0%;
        margin-top: 12.5px;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(0deg);
        background: #000000;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 1;
        transform: rotate(0deg) scale(0.66, 1);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(0deg) scale(0.33, 1);
    }

    #menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        width: calc(10vw + 70px);
        height: 20vh;
        top: 0vh;
        left: 0vw;
        column-gap: 50px;
        padding-top: 7.5vh;
        background: var(--grön);
        -webkit-font-smoothing: antialiased;
        border-bottom-right-radius: 20px;
        transform: translate(-155%, 0%);
        transition: transform 0.5s cubic-bezier(0.8, 0.15, 0.05, 1);
        z-index: 1;
        box-shadow: rgb(47, 47, 47) 0px 1px 5px;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* HOMESIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    h1 {
        margin-top: -0.5vh;
    }
    #logga {
        position: absolute;
        right: 0px;
        top: 0px;
        aspect-ratio: 3/2;
        height: 75px;
        border-radius: 7.5px;
    }
    .bild-1-homesidan {
        margin-top: 10vh;
        width: 100vw;
    }
    .vit-gradient-div {
        position: sticky;
        width: 100vw;
        height: 7.5vh;
        margin-top: -7.5vh;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255, 1)
        );
    }
    .div-skit-hemsidan {
        width: 100vw;
    }
    .h1-skit-hemsidan {
        width: 100vw;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ABOUTSIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    #vänsterkolumn {
        position: absolute;
        height: 40vh;
        width: 32.5vw;
        left: 12vw;
        top: 30vh;
        background-color: #adadad;
        text-align: center;
        z-index: -1;
        border-radius: 15px;
        box-shadow: rgb(47, 47, 47) 0px 1px 5px;
    }

    #högerkolumn {
        position: absolute;
        height: 40vh;
        width: 32.5vw;
        right: 12vw;
        top: 30vh;
        background-color: #adadad;
        text-align: center;
        border-radius: 15px;
        box-shadow: rgb(47, 47, 47) 0px 2px 5px;
    }

    .bild-1-aboutsidan {
        position: absolute;
        width: 34.5vw;
        left: 11vw;
        top: 15vh;
        border-radius: 50%;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* CONTACTSIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
    form {
        margin-top: 15vh;
    }
    .fa-solid {
        color: var(--grön);
        position: absolute;
        margin-top: 2.5vh;
        margin-left: 30vw;
    }
    .ruta {
        width: 35vw;
        height: 30px;
        margin-top: 30px;
        margin-left: 32.5%;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    .fetruta {
        width: 35vw;
        height: 100px;
        margin-top: 30px;
        margin-left: 32.5%;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 24px;
    }
    .knapp {
        font-size: 35px;
        color: white;
        background-color: var(--grön);
        width: 7.5vw;
        height: 3.5vh;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 46.125vw;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
    }
    ul {
        list-style: none;
    }
}
