/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* GÄLLER ALLTID ↓↓↓--------------------------------------------------------------------------------------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@200;300;600;900&display=swap");
:root {
    --grön: #80b850;
    --grön-highlight: #acf36e;
    --grön-skugga: #61873f;
    --gul: #ffc355;
    --svart: #000000;
    --grå: #232323;
}

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* GÄLLER FÖR SAMTLIGA SIDOR MEN ÄNDRAS MED MEDIA QUERIES↓↓↓------------------------------------------------------------------------------------------------------------------- */
header {
    color: var(--grå);
    font-weight: 600;
    position: fixed;
    top: 0;
    left: -5vw;
    width: 110vw;
    height: 10vh;
    box-shadow: var(--svart) 0px 3px 10px;
    font-size: 6vh;
    text-align: center;
    line-height: 10vh;
    vertical-align: middle;
    background: linear-gradient(
        var(--grön-highlight),
        5%,
        var(--grön),
        95%,
        var(--grön-skugga)
    );
    z-index: 1;
}
#logga {
    position: absolute;
    right: 7vw;
    top: 2vh;
    aspect-ratio: 3/2;
    height: 6vh;
    transition: 0.3s ease;
}
#logga:hover {
    transform: scale(1.35);
}
.botten-flexbox {
    position: absolute;
    font-weight: 300;
    font-size: 4vh;
    display: flex;
    justify-content: space-evenly;
    line-height: 10vh;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(
        var(--grön-highlight),
        5%,
        var(--grön),
        95%,
        var(--grön-skugga)
    );
    top: 100vh;
}
.botten-flexbox-typ-2 {
    position: absolute;
    font-weight: 300;
    font-size: 4vh;
    display: flex;
    justify-content: space-evenly;
    line-height: 10vh;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(
        var(--grön-highlight),
        5%,
        var(--grön),
        95%,
        var(--grön-skugga)
    );
    top: 125vh;
}
@media screen and (max-width: 992px) {
    header {
        color: var(--grå);
        font-weight: 600;
        position: fixed;
        top: 0;
        left: -5vw;
        width: 110vw;
        height: 10vh;
        box-shadow: var(--svart) 0px 3px 10px;
        font-size: 6vh;
        text-align: center;
        line-height: 10vh;
        vertical-align: middle;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        z-index: 1;
    }
    #logga {
        position: absolute;
        right: 7vw;
        top: 2vh;
        aspect-ratio: 3/2;
        height: 6vh;
    }
    .botten-flexbox {
        position: absolute;
        font-weight: 300;
        font-size: 28px;
        display: flex;
        justify-content: space-evenly;
        line-height: 10vh;
        width: 100vw;
        height: 10vh;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        top: 100vh;
    }
    .botten-flexbox-typ-2 {
        position: absolute;
        font-weight: 300;
        font-size: 28px;
        display: flex;
        justify-content: space-evenly;
        line-height: 10vh;
        width: 100vw;
        height: 10vh;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        top: 125vh;
    }
}
@media screen and (max-width: 600px) {
    header {
        color: var(--grå);
        font-weight: 600;
        position: fixed;
        top: 0;
        left: -5vw;
        width: 110vw;
        height: 10vh;
        box-shadow: var(--svart) 0px 3px 10px;
        font-size: 5vh;
        text-align: center;
        line-height: 10vh;
        vertical-align: middle;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        z-index: 1;
    }
    #logga {
        position: fixed;
        visibility: hidden;
    }

    .botten-flexbox {
        position: absolute;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: space-evenly;
        line-height: 10vh;
        width: 100vw;
        height: 10vh;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        top: 100vh;
    }

    .botten-flexbox-typ-2 {
        position: absolute;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: space-evenly;
        line-height: 10vh;
        width: 100vw;
        height: 10vh;
        background: linear-gradient(
            var(--grön-highlight),
            5%,
            var(--grön),
            95%,
            var(--grön-skugga)
        );
        top: 125vh;
    }
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* HAMBURGARMENYN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#hamburgarmeny {
    display: block;
    position: fixed;
    top: calc((10vh - 60px) / 2);
    left: 5vw;
    z-index: 1;
    height: 70px;
    width: 70px;
}

#hamburgarmeny a {
    text-decoration: none;
    color: var(--grå);
    transition: color 0.5s ease;
}

#hamburgarmeny a:hover {
    color: var(--gul);
}

#hamburgarmeny input {
    color: var(--grön);
    width: 70px;
    height: 70px;
    position: fixed;
    top: calc((10vh - 70px) / 2);
    left: 5vw;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
}

#hamburgarmeny span {
    display: block;
    width: 55px;
    height: 10px;
    margin-bottom: 5px;
    margin-left: 7.5px;
    position: relative;
    background: var(--svart);
    border-radius: 4px;
    z-index: 2;
    transform-origin: 0px 0px;
    transition: transform 0.4s cubic-bezier(0.8, 0.15, 0.05, 1),
        background 0.5s ease;
}

#hamburgarmeny span:nth-child(2) {
    margin-top: 12.5px;
}

#hamburgarmeny span:nth-last-child(2) {
    transform-origin: 0% 100%;
    margin-bottom: 0;
}

#hamburgarmeny input:checked ~ span {
    background: var(--gul);
}

#hamburgarmeny input:checked ~ span:nth-last-child(3) {
    transform: rotate(0deg) scale(0.66, 1);
}

#hamburgarmeny input:checked ~ span:nth-last-child(2) {
    transform: rotate(0deg) scale(0.33, 1);
}

#meny {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: calc(4vh + 15px);
    font-weight: 600;
    width: calc(10vw + 70px);
    height: calc(20vh + 35px);
    top: 0vh;
    left: 0vw;
    column-gap: 50px;
    padding-top: 10vh;
    padding-bottom: 2.5vh;
    background: var(--grön);
    -webkit-font-smoothing: antialiased;
    border-bottom-right-radius: 20px;
    transform: translate(-155%, 0%);
    transition: transform 0.5s cubic-bezier(0.8, 0.15, 0.05, 1);
    z-index: 1;
    box-shadow: var(--grå) 0px 1px 5px;
}

#hamburgarmeny input:checked ~ ul {
    transform: none;
}
@media screen and (max-width: 992px) {
    #meny {
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        font-size: 4vh;
        font-weight: 600;
        width: calc(10vw + 70px);
        height: 20vh;
        top: 0vh;
        left: 0vw;
        column-gap: 50px;
        padding-top: 10vh;
        padding-bottom: 2.5vh;
        background: var(--grön);
        -webkit-font-smoothing: antialiased;
        border-bottom-right-radius: 20px;
        transform: translate(-155%, 0%);
        transition: transform 0.5s cubic-bezier(0.8, 0.15, 0.05, 1);
        z-index: 1;
        box-shadow: var(--grå) 0px 1px 5px;
    }
}
@media screen and (max-width: 600px) {
    #hamburgarmeny {
        display: block;
        position: fixed;
        top: calc((10vh - 60px) / 2);
        left: 5vw;
        z-index: 1;
        height: 70px;
        width: 70px;
    }

    #hamburgarmeny a {
        text-decoration: none;
        color: var(--grå);
    }

    #hamburgarmeny input {
        color: var(--grön);
        width: 45px;
        height: 45px;
        position: fixed;
        top: calc((10vh - 45px) / 2);
        left: 5vw;
        cursor: pointer;
        opacity: 0;
        z-index: 5;
    }

    #hamburgarmeny span {
        display: block;
        width: 40px;
        height: 8px;
        margin-left: 2.5px;
        position: relative;
        background: var(--svart);
        border-radius: 3px;
        z-index: 2;
        transform-origin: 0px 0px;
        transition: transform 0.4s cubic-bezier(0.8, 0.15, 0.05, 1),
            background 0.5s ease;
    }
    #meny {
        position: fixed;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        font-size: calc(3vh + 10px);
        font-weight: 600;
        width: calc(10vw + 45px);
        height: calc(20vh + 5px);
        top: 0vh;
        left: 0vw;
        column-gap: 50px;
        padding-top: 10vh;
        padding-bottom: 2.5vh;
        background: var(--grön);
        -webkit-font-smoothing: antialiased;
        border-bottom-right-radius: 10px;
        transform: translate(-155%, 0%);
        transition: transform 0.5s cubic-bezier(0.8, 0.15, 0.05, 1);
        z-index: 1;
        box-shadow: var(--grå) 0px 1px 5px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* HOMESIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
.bild-1-homesidan {
    margin-top: 10vh;
    width: 100vw;
    z-index: -50;
}
.hemsida-innehåll {
    position: absolute;
    left: -10vw;
    width: 120vw;
    height: 22.5vh;
    background-color: none;
    box-shadow: var(--vit) -1px -30px 30px;
}
.hemsida-innehåll-rubrik {
    position: relative;
    left: 20vw;
    top: 8vh;
    width: 15vw;
    height: 12.5vh;
    background-color: none;
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
    line-height: 12.5vh;
}
.hemsida-innehåll-text {
    position: absolute;
    left: 35vw;
    top: 8vh;
    width: 45vw;
    height: 12.5vh;
    background-color: none;
    font-size: 3vh;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .bild-1-homesidan {
        margin-top: 10vh;
        width: 200vw;
        margin-left: -50vw;
        z-index: -50;
    }
    .hemsida-innehåll {
        position: absolute;
        left: 0;
        width: 100vw;
        height: 55vh;
        background-color: none;
        box-shadow: var(--vit) -1px -30px 30px;
    }
    .hemsida-innehåll-rubrik {
        position: absolute;
        left: 37.5vw;
        top: 4vh;
        width: 25vw;
        height: 8vh;
        background-color: none;
        text-align: center;
        font-size: 4.5vh;
        line-height: 8vh;
    }
    .hemsida-innehåll-text {
        position: absolute;
        left: 15vw;
        top: calc(4vh + 45px);
        width: 70vw;
        height: 40vh;
        background-color: none;
        text-align: center;
        font-size: 4vh;
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ABOUTSIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
#vänsterkolumn {
    font-size: calc(3vh + 2px);
    position: absolute;
    height: 30vh;
    width: 30.5vw;
    left: 12vw;
    top: 35vh;
    line-height: calc(4.5vh + 2px);
    background-color: var(--gul);
    padding-top: calc(14vh + 20px);
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    z-index: -1;
    border-radius: 15px;
    box-shadow: var(--grå) 0px 1px 5px;
}

#högerkolumn {
    font-size: 3.25vh;
    position: absolute;
    height: calc(42vh + 20px);
    width: 30.5vw;
    right: 12vw;
    top: 35vh;
    line-height: 4.25vh;
    background-color: var(--gul);
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    border-radius: 15px;
    box-shadow: var(--grå) 0px 2px 5px;
}

.bild-1-aboutsidan {
    position: absolute;
    width: 34.5vw;
    left: 11vw;
    top: 15vh;
    border-radius: 50%;
    box-shadow: black 0px 4px 5px;
}
.bild-2-aboutsidan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
@media screen and (max-width: 992px) {
    #vänsterkolumn {
        font-size: 3.5vh;
        position: absolute;
        height: 25vh;
        width: 80vw;
        left: 9vw;
        top: 28.75vh;
        line-height: 4vh;
        background-color: var(--gul);
        padding-top: 17.5vh;
        text-align: center;
        z-index: -1;
        border-radius: 15px;
        box-shadow: var(--grå) 0px 1px 5px;
    }

    #högerkolumn {
        font-size: 3.5vh;
        position: absolute;
        height: 42.5vh;
        width: 80vw;
        left: 9vw;
        top: 73vh;
        line-height: 4vh;
        background-color: var(--gul);
        padding-top: 2vh;
        text-align: center;
        border-radius: 15px;
        box-shadow: var(--grå) 0px 2px 5px;
    }

    .bild-1-aboutsidan {
        position: absolute;
        width: 85vw;
        height: 32.5vh;
        left: 7.5vw;
        top: 12.5vh;
        border-radius: 50%;
        box-shadow: black 0px 4px 5px;
    }
    .bild-2-aboutsidan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }
}
@media screen and (max-width: 600px) {
    #vänsterkolumn {
        font-size: 3.5vh;
        position: absolute;
        height: 30vh;
        width: 80vw;
        left: 9vw;
        top: 25vh;
        line-height: 4vh;
        background-color: var(--gul);
        padding-top: 13.5vh;
        text-align: center;
        z-index: -1;
        border-radius: 15px;
        box-shadow: var(--grå) 0px 1px 5px;
    }

    #högerkolumn {
        font-size: 3.5vh;
        position: absolute;
        height: 52.5vh;
        width: 80vw;
        left: 9vw;
        top: 70vh;
        line-height: 4vh;
        background-color: var(--gul);
        padding-top: 1vh;
        text-align: center;
        border-radius: 15px;
        box-shadow: var(--grå) 0px 2px 5px;
    }

    .bild-1-aboutsidan {
        position: absolute;
        width: 85vw;
        height: 25vh;
        left: 7.5vw;
        top: 12.5vh;
        border-radius: 50%;
        box-shadow: black 0px 4px 5px;
    }
    .bild-2-aboutsidan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*CONTACTSIDAN ↓↓↓----------------------------------------------------------------------------------------------------------------------------------------------------------- */
form {
    margin-top: calc(30vh - 50px);
}
.fa-solid {
    color: var(--gul);
    margin-left: 30.5vw;
    width: 58px;
    height: 58px;
    font-size: 44px;
    line-height: 58px;
}
.kontakt-inputruta {
    width: 30vw;
    height: 4vh;
    margin-left: 2.5vw;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 600;
    font-size: 3vh;
}
.kontakt-stor-inputruta {
    width: 30vw;
    height: 15vh;
    margin-left: 2.5vw;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 600;
    font-size: 3vh;
}

.knapp {
    font-size: 3vh;
    color: white;
    background-color: var(--gul);
    width: 6vw;
    height: 4vh;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 46.25vw;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: 600;
    border-color: white;
}
ul {
    list-style: none;
}
.rad {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-bottom: 45px;
}
.stor-rad {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}
.svart-bakgrund {
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -4;
    opacity: 0.6;
}
.bild-1-kontaktsidan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
@media screen and (max-width: 992px) {
    form {
        margin-top: 20vh;
    }
    .fa-solid {
        color: var(--gul);
        margin-left: 10vw;
        width: 7.5vw;
        height: 5vh;
        font-size: 4vh;
        line-height: 5vh;
    }
    .kontakt-inputruta {
        width: 65vw;
        height: 5vh;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 3vh;
    }
    .kontakt-stor-inputruta {
        width: 65vw;
        height: 20vh;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 3vh;
    }

    .knapp {
        font-size: 4vh;
        color: white;
        background-color: var(--gul);
        width: 21vw;
        height: 7vh;
        border-radius: 5px;
        margin-left: 39.5vw;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        border-color: white;
    }
    ul {
        list-style: none;
    }
    .rad {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5vh;
    }
    .stor-rad {
        display: flex;
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .svart-bakgrund {
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -4;
        opacity: 0.6;
    }
    .bild-1-kontaktsidan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }
}
@media screen and (max-width: 600px) {
    form {
        margin-top: 20vh;
    }
    .fa-solid {
        color: var(--gul);
        margin-left: 5vw;
        width: 10vw;
        height: 5vh;
        font-size: 3vh;
        line-height: 5vh;
    }
    .kontakt-inputruta {
        width: 60vw;
        height: 5vh;
        margin-left: 5vw;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 4vh;
    }
    .kontakt-stor-inputruta {
        width: 60vw;
        height: 20vh;
        margin-left: 5vw;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        font-size: 4vh;
    }

    .knapp {
        font-size: 4vh;
        color: white;
        background-color: var(--gul);
        width: 25vw;
        height: 7.5vh;
        border-radius: 5px;
        margin-left: 37.5vw;
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 600;
        border-color: white;
    }
    ul {
        list-style: none;
    }
    .rad {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5vh;
    }
    .stor-rad {
        display: flex;
        flex-direction: row;
        margin-bottom: 5vh;
    }
    .svart-bakgrund {
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -4;
        opacity: 0.6;
    }
    .bild-1-kontaktsidan {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }
}